<!DOCTYPE html>
<html>
<head>
  <title>Codebreaker</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>
<body>
<div id="container">
  <div class="tab">
    <h1>Codebreaker</h1>
    <p>Enter your name</p>
    <form method="post" action="/start">
      <input name="user_name" type="text">
      <input type="submit" value="Start">
    </form>
  </div>
</div>
</body>
</html>