body {
    background-color: #4B7399;
    font-family: Verdana;
    font-size: 20px;
}

#container {
    width: 75%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 20px 40px;
    border: solid 1px black;
    margin-top: 20px;
}

a {
    color: #0000FF;
}

.statistics {
    border: 2px solid black;
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

.statistics-td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.tab {
    text-align: center;
}

th {
    background-color: #4B7399;
}

.t-game {
    width: 50%;
    border-collapse: collapse;
    margin: auto;
}

.td-game {
    padding: 3px;
    text-align: center;
}

.btn1 {
    padding-top : 7px;
    padding-bottom : 10px;
}
.btn1 a {
    display : block;
    height : 30px;
    text-align : center;
    color: black;
    margin: auto;
}

